/* src/components/Info.css */
.info-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .info-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .info-section img {
    width: 80px; /* Ajusta el tamaño de las imágenes según necesites */
    height: auto;
    margin-right: 20px;
  }
  
  .info-section p {
    flex: 1;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
  }

  .button-container {
    display: flex;
    justify-content: center; /* Centra solo el botón */
    margin-top: 20px; /* Espacio entre otros elementos y el botón */
  }